Source: recomi
Section: misc
Priority: optional
Maintainer: Non-Applicable
Build-Depends: python3, dh-python
Standards-Version: 4.5.0

Package: recomi
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), python3, ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: Repository Collection Mirror
